---
layout: default
---

<article>
  <section class="title">
	  <a href="{{ page.url }}"><h2>{{ page.title }} </h2></a>
  </section>
  <section class="meta">
  <span class="time">
    <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
  </span>
  {% if page.tags %}
  <span class="tags">
    {% for tag in page.tags %}
    <a href="/tags.html#{{ tag }}" title="{{ tag }}">#{{ tag }}</a>
    {% endfor %}
  </span>
  {% endif %}
  </section>
  <section class="post">
  {{ content }}
  </section>
  {% if page.guid %}
  <div class="divider"></div>
  <section class="comment">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      var disqus_shortname = 'cynicholas';
      var disqus_identifier = '{{ page.guid }}';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  </section>
  {% endif %}
</article>
